
table.page-sidebar-layout {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;

  > tr,
  > tbody > tr {
    margin: 0;
    padding: 0;
    border-spacing: 0;
  }

  > tr > td,
  > tbody > tr > td {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    vertical-align: top;
  }
}

td.page-sidebar {
  background: #ececec; // TODO: hardcoded color
}